@import '~css/shared/variables';

.AdvancedMarketForm {
  &__Tabs {
    display: flex;
    background: $color-blue--muted;
    margin: -1rem -1.25rem 0;
    border-radius: 0.25rem 0.25rem 0 0;
    align-items: center;
    font-weight: $font-weight--bold;
    user-select: none;

    @media screen and (min-width: $breakpoint-xxl) {
      margin: -1rem -1.5rem 0;
    }

    &--title {
      font-size: 1.125rem;
      margin-left: 1.25rem;
    }

    &--options {
      list-type: none;
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;
      margin-bottom: 0;
    }

    &--option {
      display: inline-block;
      flex-grow: 1;
      text-align: center;
      font-size: 0.75rem;
      color: $color-blue--dark-faint;
      padding: 0.75rem 0;
      cursor: pointer;
      text-transform: uppercase;
      max-width: 7rem;
      &:hover {
        background: $color-blue--ultra-dark;
      }
      &.selected {
        background: $color-blue--ultra-dark;
        color: white;
      }
    }
  }

  &--holder,
  &--holder .Col {
    display: flex;
    flex: 1 1;
    .Col {
      display: flex;
      flex: 1 1;
    }
  }

  &--trading-error {
    color: $color-blue--50;
  }
}
